<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h2><a href="/">E-Commerce Web App</a></h2>
        <nav>
            <a href="/login">Login Page</a>
        </nav>
    </header>

    <main>
        <h3>Welcome to our homepage</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex iure expedita deleniti vero. Vitae.</p>

        <form action="/register" method="post">

            <% errors.forEach(error => { %>
                <p class="notice"><%= error %></p>
            <% }); %>
        <fieldset>
            <legend>Create an account</legend>
            <label for="firstname"><small>Firstname</small></label>
            <input type="text" id="firstname" name="firstname">

            <label for="lastname"><small>Lastname</small></label>
            <input type="text" id="lastname" name="lastname">

            <label for="email"><small>E-mail</small></label>
            <input type="email" id="email" name="email">

            <label for="username"><small>Username</small></label>
            <input type="text" id="username" name="username">

            <label for="password"><small>Password</small></label>
            <input type="password" id="password" name="password">

            <br>
            <button>Sign Up</button>
        </fieldset>
    </form>
    </main>

    <footer>
        <small>&copy; E-Commece web App</small>
    </footer>

    <script>
        fetch("http://localhost:5000/api/message")
          .then(response => response.json())
          .then(data => {
            console.log(data.message); // Should print "Hello from backend!"
            document.getElementById("message").innerText = data.message;
          })
          .catch(error => console.error("Error:", error));
      </script>
      
      <p id="message"></p>
      
</body>

</html>